@model UniversityManagement.Models.Student




@{
    ViewBag.Title = "Register Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Register Student</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>


<div class="login-form ">
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "SaveStudent", @class = "wow slideInDown", data_wow_duration = "2s", data_wow_offset = "0"}))
    {
        //Name
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Name)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(c => c.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        //Email
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Email)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(c => c.Email, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        //Contact No.

        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.ContactNumber)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(c => c.ContactNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.ContactNumber)
            </div>
        </div>

        //Date
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Date)
            </div>


            <div class="col-md-8">

                @Html.TextBoxFor(c => c.Date, new {id = "datepicker", @class = "form-control " ,data_provide="datepicker", data_date_format="yyyy-mm-dd"})


                @Html.ValidationMessageFor(m => m.Date)
            </div>
        </div>

        //Address
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Address)
            </div>

            <div class="col-md-8">
                @Html.TextAreaFor(c => c.Address, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Address)
            </div>
        </div>

        //Department
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.DepartmentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"), "--Select--", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>
        </div>



        //submitBTn

        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info"/>

            </div>
            <label class="label label-success">@ViewBag.Message</label>
        
        </div>

    }
</div>
@section Css
{
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">
    
}
@section scripts
{
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script>


    $(document).ready(function () {
        $("#datepicker").datepicker('setDate', 'today');
        $("#datepicker").datepicker({
            format: 'yyyy-mm-dd',

        });

        //$("#datepicker").on("change", function() {
        //    var formate = $(this).val();
        //    alert('formate');
        //});
    });



</script>


}