@model UniversityManagement.Models.StudentEnrollCourse
@{
    ViewBag.Title = "StudentEnrollCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Enroll Courses</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>

<div class="login-form ">
    <form id="StudentEnrollCourse" method="POST" class="wow slideInDown" data-wow-duration="2s" data-wow-offset="0">
        <!--Student Registration -->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.StudentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.StudentId, new SelectList(ViewBag.Student, "Id", "RegNo"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentId)
            </div>
        </div>

        <!--Name-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Name", "Name")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Name", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <!--Email-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Email", "Email")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Email", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Department-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Department", "Department")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Department", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Course -->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.CourseId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.CourseId, new SelectList(""), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CourseId)
                <span id="CourseIdExist"></span>
            </div>
        </div>

        <!--date -->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.Date)
            </div>


            <div class="col-md-8">

                @Html.TextBoxFor(c => c.Date, new { id = "datepicker", @class = "form-control ", data_provide = "datepicker", data_date_format = "yyyy-mm-dd" })


                @Html.ValidationMessageFor(m => m.Date)
            </div>
        </div>
        @Html.HiddenFor(a => a.DepartmentId)
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info" />

            </div>
            <label class="label label-success">@ViewBag.Message</label>

        </div>
    </form>
</div>

@section Css
{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">

}
@section scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>


        $(document).ready(function() {
            $("#datepicker").datepicker('setDate', 'today');
            $("#datepicker").datepicker({
                format: 'yyyy-mm-dd',

            });
            var departmentId = 0;
            var courseIsExist = null;
            //$("#datepicker").on("change", function() {
            //    var formate = $(this).val();
            //    alert('formate');
            //});
            $('#DepartmentId').on('change', function () {
                console.log(departmentId);
                courseIsExist = null;
                $.ajax({
                    type: 'GET',
                    data: { Id: departmentId },
                    url: '@Url.Action("SelectedDepartmentCourse", "Course")',
                    success: function (result) {

                        //   console.log(result);
                        var a = '<option value="">--Select--</option>';
                        if (departmentId == null) {
                            $('#CourseId').html(a);
                        } else {
                            a = '<option value="">--Select--</option>';

                            for (var i = 0; i < result.length; i++) {
                                a += '<option value="' + result[i].Id + '">' + result[i].Name + '</option>';

                            }
                            $('#CourseId').html(a);

                        }

                    }
                });
            
            });

            var studentId = 0;
            $('#StudentId').on('change', function() {
                 studentId = $('#StudentId option:selected').val();
                $('#Name').val("");
                $('#Email').val("");
                $('#Department').val("");
                $('#DepartmentId').val("");
               
                $.ajax({
                    type: 'GET',
                    data: { Id: studentId },
                    url: '@Url.Action("SelectedStudentInfo", "Student")',
                    success: function(result) {
                        console.log(result);

                        $('#Name').val(result.Name);
                        $('#Email').val(result.Email);
                        $('#Department').val(result.DepartmentName);
                        departmentId = result.DepartmentId;
                        $('#DepartmentId').val(result.DepartmentId).trigger('change');


                    }
                });
              
               // console.log(departmentId);
              


            });


            $('#CourseId').on('change', function () {
                courseIsExist = null;
                $('#CourseIdExist').html(courseIsExist);

                var courseId = $('#CourseId option:selected').val();
                // alert(courseId);
            
              


                $.ajax({
                    type: 'GET',
                    data: { studentid: studentId , courseId: courseId },
                    url: '@Url.Action("IsCourseEnrolled", "Student")',
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            courseIsExist = '<span for="CourseId" class="field-validation-error">This Course is Already Taken</span>';
                            // $('#CourseId').find('.field-validation-valid').attr('class', 'field-validation-error');
                            //$('#CourseId').find('.field-validation-error').html(error);
                            $('#CourseIdExist').html(courseIsExist);
                        } else {
                            $('#CourseIdExist').html(courseIsExist);
                        }


                    }
                });



            });
            $('form').submit(function(e) {
                if (courseIsExist != null) {
                    e.preventDefault();
                }
            });

        });
    </script>


}