@model UniversityManagement.Models.StudentEnrollCourse

@{
    ViewBag.Title = "ViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>View Result</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>
<div class="login-form ">
    @using (Html.BeginForm("Export", "Student", FormMethod.Post, new { @class = "wow slideInDown", data_wow_duration = "2s", data_wow_offset = "0" }))
    {

        <!--Student Registration -->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.StudentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.StudentId, new SelectList(ViewBag.Student, "Id", "RegNo"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentId)
            </div>
        </div>

        <!--Name-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Name", "Name")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Name", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <!--Email-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Email", "Email")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Email", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Department-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Department", "Department")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Department", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>



        @Html.HiddenFor(a => a.DepartmentId)
        <div class="row">
            <div class="col-md-12 text-right">
                @*<input type="Button" value="Make PDF" class="btn btn-info" />*@
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" value="Make PDF" class="btn btn-info" />
            </div>

        </div>

        <h4>View Result</h4>
        <div id="Grid">
            <h4 class="hidden"> Name : <span class="StudentName"></span> </h4>
            <h4 class="hidden">   Reg No : <span class="RegistrationNo"></span>  </h4>
            <h4 class="hidden">   Deapartment : <span class="departmentNo"></span>  </h4>
          
            <table class="table table-bordered" cellpadding="5" cellspacing="0" style="border: 1px solid #ccc; font-size: 9pt;">
                <thead>
                    <tr>
                        <th class="text-center" style="background-color: #B8DBFD; border: 1px solid #ccc">Code</th>
                        <th class="text-center" style="background-color: #B8DBFD; border: 1px solid #ccc">Name</th>
                        <th class="text-center" style="background-color: #B8DBFD; border: 1px solid #ccc">Result</th>

                    </tr>
                </thead>
                <tbody id="Course"></tbody>
            </table>
        </div>


    }
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
            var studentId = 0;
            $('#StudentId').on('change', function () {
                studentId = $('#StudentId option:selected').val();
               var studentText = $('#StudentId option:selected').text();
                $('.RegistrationNo').html(studentText);
                $('#Name').val("");
                $('#Email').val("");
                $('#Department').val("");
                $('#DepartmentId').val("");

                $.ajax({
                    type: 'GET',
                    data: { Id: studentId },
                    url: '@Url.Action("SelectedStudentInfo", "Student")',
                    success: function (result) {
                        console.log(result);
                        $('.StudentName').html(result.Name);
                        $('.departmentNo').html(result.DepartmentName);
                        $('#Name').val(result.Name);
                        $('#Email').val(result.Email);
                        $('#Department').val(result.DepartmentName);
                       // departmentId = result.DepartmentId;
                        $('#DepartmentId').val(result.DepartmentId).trigger('change');


                    }
                });

                // console.log(departmentId);
                $.ajax({
                    type: 'GET',
                    data: { Id: studentId },
                    url: '@Url.Action("SelectedStudentCourseEnroll", "Student")',
                    success: function (result) {
                        console.log(result);
                        var a = '';
                        if (studentId == null) {
                            $('#CourseId').html(a);
                        } else {

                            for (var i = 0; i < result.length; i++) {
                                a += '<tr> <td style="width:120px;border: 1px solid #ccc">' + result[i].CourseCode + ' </td>' +
                                    '<td style="width:120px;border: 1px solid #ccc">' + result[i].CourseName + ' </td>' +
                                     '<td style="width:120px;border: 1px solid #ccc">' + result[i].Grade + ' </td>' +
                               
                                   ' </tr>';

                            }
                            $('#Course').html(a);

                        }

                    }
                });


            });
        });
    </script>
}

