@model UniversityManagement.Models.StudentEnrollCourse

@{
    ViewBag.Title = "ViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Enroll Courses</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>

<div class="login-form ">
    <form id="StudentEnrollCourse" method="POST" class="wow slideInDown" data-wow-duration="2s" data-wow-offset="0">
        <!--Student Registration -->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.StudentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.StudentId, new SelectList(ViewBag.Student, "Id", "RegNo"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentId)
            </div>
        </div>

        <!--Name-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Name", "Name")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Name", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <!--Email-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Email", "Email")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Email", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Department-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("Department", "Department")
            </div>

            <div class="col-md-8">
                @Html.TextBox("Department", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>



        @Html.HiddenFor(a => a.DepartmentId)
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="Button" value="Make PDF" class="btn btn-info" />

            </div>

        </div>

        <h4>View Result</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Code</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Result</th>

                </tr>
            </thead>
            <tbody id="Course"></tbody>
        </table>
    </form>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            var studentId = 0;
            $('#StudentId').on('change', function () {
                studentId = $('#StudentId option:selected').val();
                $('#Name').val("");
                $('#Email').val("");
                $('#Department').val("");
                $('#DepartmentId').val("");

                $.ajax({
                    type: 'GET',
                    data: { Id: studentId },
                    url: '@Url.Action("SelectedStudentInfo", "Student")',
                    success: function (result) {
                        console.log(result);

                        $('#Name').val(result.Name);
                        $('#Email').val(result.Email);
                        $('#Department').val(result.DepartmentName);
                       // departmentId = result.DepartmentId;
                        $('#DepartmentId').val(result.DepartmentId).trigger('change');


                    }
                });

                // console.log(departmentId);
                $.ajax({
                    type: 'GET',
                    data: { Id: studentId },
                    url: '@Url.Action("SelectedStudentCourseEnroll", "Student")',
                    success: function (result) {
                        console.log(result);
                        var a = '';
                        if (studentId == null) {
                            $('#CourseId').html(a);
                        } else {

                            for (var i = 0; i < result.length; i++) {
                                a += '<tr> <td>' + result[i].CourseCode + ' </td>' +
                                    '<td>' + result[i].CourseName + ' </td>' +
                                     '<td>' + result[i].Grade + ' </td>' +
                               
                                   ' </tr>';

                            }
                            $('#Course').html(a);

                        }

                    }
                });


            });
        });
    </script>
}

