@using System.ComponentModel.DataAnnotations
@using System.Web.Mvc.Html
@model UniversityManagement.Models.CourseAssign
@{
    ViewBag.Title = "AssignCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Assign Teacher</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>
<div class="login-form ">
    <form id="AssignTeacher" method="POST" class="wow slideInDown" data-wow-duration="2s" data-wow-offset="0">
        <!--Department-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.DepartmentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>
        </div>
        <!--Teacher-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.TeacherID)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.TeacherID, new SelectList(""), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TeacherID)
            </div>
        </div>
        <!--Credit To be Taken-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CreditToBeTaken", "Credit To Be Taken")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CreditToBeTaken", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Remaining Credit-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("RemainingCredit", " Remaining Credit")
            </div>

            <div class="col-md-8">
                @Html.TextBox("RemainingCredit", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <!--Course Code-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.CourseId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.CourseId, new SelectList(""), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CourseId)
            </div>
        </div>

        <!--Course Name-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CourseName", "Course Name")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CourseName", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Course Code-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CourseCredit", "Credit")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CourseCredit", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info" />

            </div>

        </div>
    </form>
</div>
@section scripts
{

    <script type="text/javascript">
        // Console.log("hello");
        $(document).ready(function() {
            var courses;
            var teachers
            $('#DepartmentId').on('change', function() {
                var departmentId = $('#DepartmentId option:selected').val();
              //  alert(departmentId);
                // Console.log(memebershipId);
                //course
                $.ajax({
                    type: 'GET',
                    data: { Id: departmentId },
                    url: '@Url.Action("SelectedDepartmentCourse", "Course")',
                    success: function(result) {
                        courses = result;
                        console.log(courses);
                        var a = '';
                        if (departmentId == null) {
                            $('#CourseId').html(a);
                        } else {
                            a = '<option value="">--Select--</option>';

                            for (var i = 0; i < result.length; i++) {
                                a += '<option value="' + result[i].Id + '">' + result[i].Code + '</option>';

                            }
                            $('#CourseId').html(a);

                        }

                    }
                });
                //teacher
                $.ajax({
                    type: 'GET',
                    data: { Id: departmentId },
                    url: '@Url.Action("SelectedDepartmentTeacher", "Course")',
                    success: function(result) {
                        teachers = result;
                        console.log(teachers);
                        // Console.log(result);
                        var a = '';
                        if (departmentId == null) {
                            $('#TeacherID').html(a);
                        } else {
                            a = '<option value="">--Select--</option>';
                            for (var i = 0; i < result.length; i++) {
                                a += '<option value="' + result[i].Id + '">' + result[i].Name + '</option>';

                            }
                            $('#TeacherID').html(a);
                        }

                    }
                });

            });
            $('#CourseId').on('change', function () {

                var courseId = $('#CourseId option:selected').val();
                if (courseId == null) {
                    $('#CourseCredit').val(null);
                    $('#CourseName').val(null);

                } else {
                    $.each(courses, function (key, value) {
                        if (value.Id == courseId) {
                            //console.log(teacherID);
                            // console.log(value.Id);
                            $('#CourseCredit').val(value.Credit);
                            $('#CourseName').val(value.Name);
                        }
                    });
                }


            });
            $('#TeacherID').on('change', function () {
                
                var teacherID = $('#TeacherID option:selected').val();
                if (teacherID == null) {
                    $('#CreditToBeTaken').val(null);
                    $('#RemainingCredit').val(null);



                } else {
                    $.each(teachers, function (key, value) {
                        if (value.Id == teacherID) {
                            //console.log(teacherID);
                            // console.log(value.Id);
                            $('#CreditToBeTaken').val(value.CreditToBeTaken);
                            $('#RemainingCredit').val(value.RemainigCredit);

                        }
                    });
                }
             

            });

        });

    </script>
}