@using System.ComponentModel.DataAnnotations
@using System.Web.Mvc.Html
@model UniversityManagement.Models.CourseAssign
@{
    ViewBag.Title = "AssignCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Assign Teacher</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>
<div class="login-form ">
    <form>
        <!--Department-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.DepartmentId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>
        </div>
        <!--Teacher-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.TeacherID)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.TeacherID, new SelectList(ViewBag.Departments, "Id", "Name"), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TeacherID)
            </div>
        </div>
        <!--Credit To be Taken-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CreditToBeTaken", "Credit To Be Taken")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CreditToBeTaken", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        
        <!--Remaining Credit-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("RemainingCredit", " Remaining Credit")
            </div>

            <div class="col-md-8">
                @Html.TextBox("RemainingCredit", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <!--Course Code-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(m => m.CourseId)
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(c => c.CourseId, new SelectList(""), "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CourseId)
            </div>
        </div>
        
        <!--Course Name-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CourseName", "Course Name")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CourseName", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        
        <!--Course Code-->
        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.Label("CourseCode", "Code")
            </div>

            <div class="col-md-8">
                @Html.TextBox("CourseCode", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info" />

            </div>

        </div>
    </form>
</div>
@section scripts
{
  
    <script type="text/javascript">
   // Console.log("hello");
    $(document).ready(function () {

        $('#DepartmentId').on('change', function () {
            var departmentId = $('#DepartmentId option:selected').val();
            alert(departmentId);
           // Console.log(memebershipId);
            $.ajax({
                type: 'GET',
                data: { Id: departmentId },
                url: '@Url.Action("SelectedDepartment", "Course")',
                success: function (result) {
                   // Console.log(result);
                    var a = '';
                    if (departmentId == null) {
                        $('#CourseId').html(a);
                    } else {
                        for (var i = 0; i < result.length; i++) {
                            a += '<option value="' + result[i].id + '">' + result[i].Name + '</option>';

                        }
                        $('#CourseId').html(a);
                    }

                }
            });

        });

    });

    </script>
}